	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/02/2020 00:17
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
font-style: normal;
}

.flaticon-qr-code:before { content: "\f100"; }
.flaticon-clean:before { content: "\f101"; }
.flaticon-analysis:before { content: "\f102"; }
.flaticon-analytics:before { content: "\f103"; }
.flaticon-file:before { content: "\f104"; }
.flaticon-file-1:before { content: "\f105"; }
.flaticon-left-quote:before { content: "\f106"; }
.flaticon-paper-plane:before { content: "\f107"; }
.flaticon-requirement:before { content: "\f108"; }
.flaticon-search:before { content: "\f109"; }
.flaticon-creativity:before { content: "\f10a"; }
.flaticon-web-programming:before { content: "\f10b"; }
.flaticon-medal:before { content: "\f10c"; }
.flaticon-directory:before { content: "\f10d"; }
.flaticon-value:before { content: "\f10e"; }
.flaticon-appointment:before { content: "\f10f"; }
.flaticon-question:before { content: "\f110"; }
.flaticon-candidate:before { content: "\f111"; }
.flaticon-location:before { content: "\f112"; }
.flaticon-suitcase:before { content: "\f113"; }
.flaticon-salesman:before { content: "\f114"; }
.flaticon-target:before { content: "\f115"; }
.flaticon-public-relations:before { content: "\f116"; }
.flaticon-shopping-bag:before { content: "\f117"; }
.flaticon-magnifying-glass:before { content: "\f118"; }
.flaticon-shopping-basket:before { content: "\f119"; }
.flaticon-call:before { content: "\f11a"; }
.flaticon-location-1:before { content: "\f11b"; }
.flaticon-email:before { content: "\f11c"; }
.flaticon-address:before { content: "\f11d"; }
.flaticon-burger:before { content: "\f11e"; }
.flaticon-champagne-glass:before { content: "\f11f"; }
.flaticon-grocery:before { content: "\f120"; }
.flaticon-mortarboard:before { content: "\f121"; }
.flaticon-education:before { content: "\f122"; }
.flaticon-employee:before { content: "\f123"; }
.flaticon-content:before { content: "\f124"; }
.flaticon-web-development:before { content: "\f125"; }
